@media all and (max-width: 1025px) {
    .count-container {
    width: 90px;
    height: 90px;
    }
    
    .wrapper {
        height: 253px;
    }
    .count {
        font-size: 38px;
    }

    .front-first p:nth-child(2) {
        font-size: 21px;
        left: 43%;
    }

    .front-second p {
        font-size: 21px;
        left: 35%;
        top: 54%;
    }

    .front-third p {
        font-size: 21px;
        left: 40%;
        top: 54%;
    }
    
    .back-first {
        font-size: 16px;
    }
    
     .back-second {
        font-size: 15px;
    }
    
     .back-third {
        font-size: 17px;
    }
    
      .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 15px;
    } 
}

@media all and (max-width: 1281px) {
    .front-first p:nth-child(2) {
        left: 38%;
    }

    .front-second p {
        left: 33%;
    }

    .front-third p {
        left: 36%;
    }

    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 18px;
    }
}

@media all and (max-width: 1367px) {
    .wrapper {
        width: 99%;
    }
    .contact-general-numbers,
    .contact-specified-numbers {
        font-size: 19px;
    }
}

@media all and (max-width: 1441px) {
    .front-first p:nth-child(2) {
        left: 38%;
    }

    .front-second p {
        left: 35%;
    }

    .front-third p {
        left: 37%;
    }
}


